/* 기본 세팅 */

* {
    box-sizing: border-box;
    margin: 0;
    font-family: roboto;
}

body {
    padding-top: 50px;
    margin: 0px;
}

/* 헤더 세팅 */

header {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
}

.red {
    color: red;
}

#logo {
    font-weight: bold;
}

.bar {
    color: #424242;
}

header div {
    flex-grow: 1;
    margin: 0px;
    display: inline-block;
}

.center {
    flex-grow: 2;
}

.center input {
    width: 70%;
}

header > div.start {
    padding: 5px;
}

header > div > * {
    margin: 0px 10px;
}

#login-box {
    display: flex;
    justify-content: space-evenly;
    float: right;
    width: 100px;
    height: 40px;
    border: 1px solid #065fd4;
    border-radius: 2px;
    align-items: center;
    text-align: center;
}

#login-box > * {
    color: #065fd4;
}

#bar {
    size: 33px;
}

#search {
    margin-top: 10px;
}

/* 콘텐츠 */

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 16px 16px 0 16px;
}

.content {
    flex-grow: 1;
    margin: 0 8px 40px 8px;
    width: 250px;
}

.thumbnail {
    width: 100%;
}

.metadata span:first-child:after {
    content: "·";
}

.details {
    display: flex;
    flex-direction: row;
}

.details img.user_logo {
    margin: 10px 10px 0 0;
    float: left;
    width: 36px;
    height: 36px;
    border-radius: 100%;
}

.title {
    font-size: 1rem;
    margin: 12px 0 6px 0;
}
